<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <style type="text/css" media="screen">
      @import "/std.css";
    </style>
    <title>Silo Password</title>
  </head>



  <body>

    <h1>Silo Management</h1>
    <h2> 
      <a href="/silos/"><%= hostname %></a>
      &rArr; 
      security
    </h2>

    <form method="post" action="/credentials">
      <fieldset>
	<legend>
         <% if credentials %>
           Site access requires a password by the <u><%= credentials.name %></u> user
         <% else %>
           Site access doesn't currently require a password by the <u>admin</u> user
         <% end %>
	</legend>
	
	<table class="expansive" style="border: none;">
	 
	  <tr>
	    <td class="bl">
	      <input type="password" name="password" value="">
	    </td>
	    <td>
	    </td>	    
	  </tr>

	  <tr>	    
            <% if credentials %>
	      <td class="bl"><input type="submit" name="action" value="change password"></td>
	      <td class="br"><input type="submit" name="action" value="clear password"></td>
            <% else %>				               
	      <td class="bl"><input type="submit" name="action" value="set password" ></td>
  	      <td></td>
            <% end %>
	  </tr>

	</table>
	
      </fieldset>
      </form>
      
      <p class="footer">
	<%= revision %>
      </p>
  </body>
</html>
