<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <style type="text/css" media="screen">
      @import "/std.css";
    </style>
    <title>The Silo Pool at <%= hostname %></title>
  </head>

  <body>

    <h1>The Silo Pool at <%= hostname %></a></h1>

    <p>
      From here you may:
      <ul>
	<li><a href="/silos/">Manage</a> the individual silos in this pool server</li>
	<li><a href="/protocol">Ponder</a> the Silo Pool protocol</li>
	<li><a href="/internals/index.html">Iquire</a> into the Silo Pool internals</li>
      </ul>

    <p class="footer">
      <%= revision %>
    </p>

  </body>
</html>

